{{ define "head" }}
<link rel="stylesheet" href="worldmap.css">
{{ end }}

{{ define "header" }}
<!-- HTML empty -->
{{ end }}

{{ define "main" }}
{{.Content}}
{{ end }}

{{ define "footer" }}
<!-- HTML empty -->
{{ end }}

{{ define "scripts" }}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
<script type="text/javascript" src="./worldmap.js"></script>
{{ end }}
